body {
  background: #1B1B25;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}


.separator {
  width: 30%;
}

.title {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

#social-menu li{
  display: inline;
}

#social-menu {
  padding-left: 0;
}

.projects {
  padding: 20px;
}

.work-experience {
  padding: 10px;
  .experience_title {
    margin-top: 10px;
  }
  .experience-summary {
    margin-bottom: 10px;
  }
}


.education {
  padding: 10px;
  .degree-cert {
    margin-bottom: 10px;
  }
}

.year {
  float: right;
}


