body {
  background: #1B1B25;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.separator {
  width: 30%;
}

.title {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  /* a {
    color: #DB4D57;
    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
  hr {
    width: 75%;
  } */
}

#social-menus {
  display: inline;

}


#social-menu li{
  display: inline;
  padding: 5px 10px c;
}


/* ul.justify-content-center{
  display: inline-block;
  ul > li {
    display: inline-block;
    padding: 8px;
  }
} */



.projects {
  padding: 20px;
  p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
}


.work-experience {
  padding: 10px;
  .experience_title {
    margin-top: 10px;
  }
  .experience-summary {
    margin-bottom: 10px;
  }
  p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
}


.education {
  padding: 10px;
  .degree-cert {
    margin-bottom: 10px;
  }
  p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
}

.year {
  float: right;
}


